extends layout

block content
  h1= title
  
  -
  .container-fluid
  .row
    - let values = results
    each value, index in values
      - let destination = `dispatch(\"/dragonEggs/update/?id=${value._id}\")`
      div(class="row-sm-2", class="m-1") value #{value.size}(#{value.color}) is #{value.rarity}
        button.btn( class="btn-primary ml-1", onclick= destination) Update
      .col-sm-2
        div
          .card(onclick=`buy(${index})`)
            .card-body
              p Size: #{value.size}
              p Color: #{value.color}
              p Rarity: #{value.rarity}
  
  script.
    function buy(index) {
      alert(`You purchased item ${index}`);
    }
  script.
    function dispatch(path){
      window.location.href=path
    }